.myclass {
	font-family: lato, sans-serif;
	background: url(background.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
}	

h1{
	color: #C0392B;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
}

p.left{
	float: left;
	font-size: 20px;
}

p.right{
	float:right;
	font-size: 20px;
}	

table.background{
width: 100%;
background: rgba(255,255,255,0.1);
}

table, th, td{
	border: 2px solid black;
	border-collapse: collapse;
}

th, td{
	padding: 5px;
	text-align: center;
}

footer{
	position:relative;
    bottom:0px;
}

a.a {
    background-color: #C0392B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


